
@font-face {
  font-family: 'ValvetFont';
  src: url('assets/Assets/Fonts/Kurdis-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ValvetFontBold';
  src: url('assets/Assets/Fonts/Kurdis-WideBold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}




body {
    margin: 0;
    background-color: black;
    color: white;
    overflow-x: hidden;
    font-family: 'ValvetFont', 'ValvetFontBold', sans-serif;
}

  h1{
    font-size: 32px;
    font-family: 'ValvetFontBold';
  }

  .socials {
    display: flex;
    gap: 8px; /* justera som du vill, ex 6-10px */
    align-items: center;
  }
  .music-section {
    text-align: center;
    padding: 40px 20px;
  }
  
  .music-section h2 {
    font-family: 'ValvetFontBold';
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .music-embed {
    max-width: 400px;
    margin: 0 auto 20px auto;
  }
  


  .social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: transform 0.2s;
  }

  .social-icon svg,
  .social-icon .fa {
    width: 24px;
    height: 24px;
    color: white;
    fill: white;
  }



header {
    margin: 0;
    font-family: 'ValvetFont', 'ValvetFontBold', sans-serif;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 60%, #000 100%),
              url('images/Utvalda/DSCF4435.jpg');
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    min-height: 100vh;
    padding: 0px;
    position: static;
    top: 0;
  }
  
  
  
  .main-heading{
    max-width: 800px;
    text-align: center;
    margin: auto;
  }
  
  
  .main-heading h1{
    font-size: 50px;
    font-family: 'ValvetFontBold';
  }

  .main-heading p {
    font-size: 18px;
    line-height: 26px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    top: 0;
    position: sticky;
    z-index: 1000;
    background-color: rgba(0,0,0,0.8);
    backdrop-filter: blur(4px);
    flex-wrap: wrap;
  }
  

  .header img {
    width: 200px;
    padding-top: 7px;
  }

  .header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }

  .merch-button {
    padding: 10px 20px;
    border-radius: 50px;
    background-color: white;
    border-width: 2px;
  }

  .merch-button:hover {
    background-color: #e5c045;
    color: black;
    cursor: pointer;
  }

  .header a.logo {
    font-size: 25px;
    font-weight: bold;
    padding: 0 !important;
  }

  .header-right {
    float: right;
    display: flex;
    align-items: center;
  }

  .hamburger {
    font-size: 30px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: none; /* syns bara på mobil */
  }

  @media (max-width: 768px) {
    .header {
      flex-direction: row;
      align-items: center;
      position: sticky;
      top: 0;
      z-index: 2;
    }

    .header img {
      max-width: 120px;
      height: auto;
    }
  
    .header-right {
      flex-direction: column;
      align-items: center;
    }
  
    .header-right a,
    .merch-button {
      display: block;
      margin: 5px 0;
    }
  
    .main-heading h1 {
      font-size: 18px;
    }
  
    .logo img {
      width: 105px;
    }

    .hamburger {
      display: block;
    }
  
    .nav-links, .socials {
      display: none;
      flex-direction: column;
      text-align: center;
      background-color: rgba(0,0,0,0.9);
      position: absolute;
      top: 100%; /* under header */
      width: 100%;
      left: 0;
      display: none;
      z-index: 1;
    }

  
    .nav-links.active {
      display: flex;
    }
  }
  

  

footer {
    margin: 0;
    background-color: #e5c045;
    color: white;
}